.right-container {
    position: relative;
    top: -10px;
    height: 500px;
    width: 100%;
    position: relative;
    top: 45px;
}

.challenge-type {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #283891;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 20px; /* top-bottom left-right */
}

.challenge-type:hover {
    background-color: #4a90e2;
    color: white;
    transform: scale(1.03);
    transition: transform 0.2s ease;
}

.icon {
    height: 45px;
}

.assessment {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    position: relative;
    top: 2px;
    margin-left: 20px;
}

.score {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    position: relative;
    top: 2px;
    margin-left: 682px;
}
