.right-container {
  display: flex;
  position: relative;
  left: 70px;

}
.assessment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2A2E34;
  height: 200px;
  width: 250px;
  margin-right: 100px;
  margin-top: 15px;
  border-radius: 15px;
  border: 3px solid #FFC300;
}
.title {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 30px;
}
.open {
  height: 40px;
  width: 80px;
  border-radius: 15px;
  border: 3px solid #FFC300;
  position: relative;
  top: 20px;
  color: #2A2E34;
  background-color: #D9D9D9;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.open:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease;
  background-color: #FFC300;
}
.assessment:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease;
}